


/* ****************************   Temp classes for process   ********************************/
/* ****************************   ------------------------   ********************************/

.tempBorderRed{
  border: 2px solid #aa1018;
}

.tempBorderBlue{
  border: 2px solid blue;
}

.tempBorderGreen{
  border: 2px solid green;
}

.tempBorderPink{
  border: 2px solid #af6493;
}

.tempBorderPurple{
  border: 2px solid #641d80;
}

.tempBorderOrange{
  border: 2px solid #ff8c19;
}
.tempBorderLBlue{
  border: 2px solid #66bde6;
}

/* ****************************       Symptom Component      ********************************/
/* ****************************   ------------------------   ********************************/

.overlay{
  background-color: #fcfcfc;
  opacity:0.2;
  z-index:100;
  height: 100%;
  width: 100%;
  position: fixed;
}

.removed{
  display: none;
}

.componentPosition{
  position: relative;
  z-index:90;
}

.intensitySquareMain{
  width:14.28%;
  height:100%;
  border: 1px solid #f1f1f1;
}

.intensitySquare{
  background-color: rgb(212, 143, 85);
  border: 1px solid rgb(218, 147, 87);
}

.intensitySquareRow{
  height:100%;
}

.hidden{
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid #f1f1f1;
  border-collapse: collapse;
}

.mouseOverEffect{
  background-color: rgba(252, 169, 101, 0.71);
  border: 1px solid rgba(255, 172, 101, 0.5);
  border-collapse: collapse;
}

.mouseOverHidden{
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid #f1f1f1;
  border-collapse: collapse;
}



